.top-content {
    padding-left: 10%;
    padding-right: 10%;
    
    background-color: #1F2937;
}

.top-content .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-height: 150px;
    
}

.top-content .header img
{
    object-fit: contain;
    max-width:100px;
    max-height:30px;
    
}

.top-content .content{
    display: flex;

    max-height: 500px;

    color: white;
}

.top-content .content div,
.top-content .content img {
    max-width: 40%;
    object-fit: contain;
    margin: 5%;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}